<div class="modal-header">
    <h3 class="text-center" style="margin-top: 1rem; margin-bottom: 1.5rem">{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body text-center">
    <h4>{{modalOptions.bodyText}}</h4>
</div>
<div style="display: flex;">
    <div style="margin: auto">
        <div class="modal-footer">
            <button type="button" class="btn"
                    data-ng-click="modalOptions.close()"
                    style="width: 10rem">
                {{modalOptions.closeButtonText}}
            </button>
            <button class="btn btn-danger"
                    data-ng-click="modalOptions.ok();"
                    style="width: 10rem; margin-left: 5rem">
                {{modalOptions.actionButtonText}}
            </button>
        </div>
    </div>
</div>