<!--Título Principal-->
<h3 class="text-center content-title">Cliente {{customer.name}}</h3>

<form name="formCustomer" class="sub-cad-form" ng-submit="saveCustomer()"> <!--onkeypress="return event.keyCode != 13;"--> 
    <div class="row">
        <div class="form-group col-md-10">
            <label for="name">Nome:</label>
            <input type="text" name="name" ng-model="customer.name" class="form-control" ng-required="true" />
        </div>

        <div class="form-group col-md-2">
            <label for="phone">Telefone:</label>
            <input type="text"
                   name="phone"
                   ng-model="customer.phones[0].phoneNumber"
                   class="form-control"
                   ui-phone-br
                   placeholder="(__) _____-____ "
                   style="padding: 2px;" />
        </div>   
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label for="description">Descrição:</label>
            <input type="text" name="description" ng-model="customer.description" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-2">
            <label for="cep">CEP:</label>
            <input type="text" 
                   name="cep" 
                   ng-model="customer.addresses[0].cep" 
                   ng-change="loadCep(customer.addresses[0].cep)"
                   ui-mask="99999-999" 
                   class="form-control" 
                   ng-required="false"/>
        </div>
        <div class="form-group col-md-8">
            <label for="address">Endereço:</label>
            <input type="text" name="address" ng-model="customer.addresses[0].addressName" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label for="number">Número:</label>
            <input type="text" id="addressnumber" name="number" ng-model="customer.addresses[0].number" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label for="district">Bairro:</label>
            <input type="text" name="district" ng-model="customer.addresses[0].district" class="form-control" />
        </div>
        <div class="form-group col-md-3">
            <label for="complement">Complemento:</label>
            <input type="text" name="complement" ng-model="customer.addresses[0].complement" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label for="city">Cidade:</label>
            <input type="text" name="city" ng-model="customer.addresses[0].city" class="form-control" />
        </div>
        <div class="form-group col-md-1">
            <label for="state">UF:</label>
            <input type="text" name="state" ng-model="customer.addresses[0].state" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"><button class="btn btn-danger sub-cad-btn" ng-click="close()">Voltar</button></div>
        <div class="col-md-2">
            <button class="btn btn-success sub-cad-btn"
                    type="submit"
                    ng-disabled="formCustomer.$invalid">
                Salvar
            </button>
        </div>
        <div class="col-md-8">
            <span class="alert alert-danger" ng-show="msgErr.hidden">{{error}}</span>
        </div>
    </div>    
</form>