<!--Título Principal-->
<div class="row" style="margin: 0">
    <div ng-class="{ 'col-md-10': orderId, 'col-md-12': !orderId }" style="margin: 0"><h3 class="text-center content-title">{{action}} Pedido {{orderId}}</h3></div>
    <div class="col-md-2" style="margin: 0; padding-right: 0.8rem" ng-show="orderId"><button class="btn btn-danger" style="width: 80%; float: right" ng-click="deleteOrder()">Excluir</button></div>
</div>

<!--Menu dos tipos de produto-->
<div class="new-order-left-top-div new-order-menu-flex">
    <button id="btncake" class="btn btn-primary new-order-btn-menu" ng-click="loadCakes()">Bolos</button>
    <button class="btn btn-primary new-order-btn-menu" ng-click="loadSweets()">Doces</button>
    <button class="btn btn-primary new-order-btn-menu" ng-click="loadFries()">Fritos</button>
    <button class="btn btn-primary new-order-btn-menu" ng-click="loadRoasts()">Assados</button>
</div>

<!--Produtos a serem selecionados no pedido-->
<div class="new-order-right-top-div" style="position: relative; display: flex; flex-direction: column">
    <div style="display: flex; width: 100%; align-content: space-between; margin: auto; flex: 2; background-color: lightslategray; border-radius: unset">
        <div style="width: 62%; box-shadow: none; margin-top: auto; font-weight: bold; padding-left: 0.7%; color: white">Descrição</div>
        <div style="width: 12%; box-shadow: none; text-align: center; vertical-align: middle; margin: auto; font-weight: bold; color: white">Qtd. [{{getUnit(unit)}}]</div>
        <div style="width: 21.5%; box-shadow: none; text-align: center; vertical-align: middle; margin: auto; font-weight: bold; color: white">Valor</div>
    </div>
    <div style="overflow: auto; width: 100%; box-shadow: none; flex: 10">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr ng-repeat="product in listProducts | orderBy: 'name'">
                    <td style="width: 60%; padding: 0.7%; vertical-align: middle">{{product.name}}</td>
                    <td style="width: 20%; padding: 0.7%">
                        <div style="box-shadow: none; display: flex; justify-content: center; align-items:center">
                            <button ng-click="decProdQty(product)" class="btn btn-danger" style="height: 25px; width: 25px; position: relative"><div class="center-child-text">-</div></button>
                            <input type="text" ng-input-decimal style="width: 40%; margin-left: 5%; margin-right: 5%; text-align: center" value="{{product.qty | isNull:0}}" ng-model="product.qty" ng-init="loadQty(product)" ng-change="refreshPrice(product)"/>
                            <button ng-click="incProdQty(product)" class="btn btn-success" style="height: 25px; width: 25px; position: relative"><div class="center-child-text">+</div></button>
                        </div>
                    </td>
                    <td style="width: 20%; padding: 0.7%; text-align: center; vertical-align: middle">{{product.priceInOrder | currency: "R$"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Resumo do pedido contendo os produtos selecionados-->
<div class="new-order-left-bottom-div" style="position: relative">
    <div class="panel panel-default" style="height: 100%; margin: 0;">
        <div class="panel-heading text-center" style="box-shadow: none; margin: 0; background-color: lightslategray; color: white; font-weight: bold; padding: 1%;">Lista do Pedido</div>
        <div class="panel-body" style="box-shadow: none; padding: 0%; overflow: auto; max-height: 84%">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="font-weight: bold; padding: 0.7%">Descrição</th>
                        <th style="font-weight: bold; padding: 0.7%; text-align: center">Qtd</th>
                        <th style="font-weight: bold; padding: 0.7%; text-align: center">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="listProd in listOrderProducts">
                        <td style="padding: 0.7%">{{listProd.name}}</td>
                        <td style="text-align: center; padding: 0.7%">{{listProd.qty}}</td>
                        <td style="text-align: center; padding: 0.7%">{{listProd.priceInOrder | currency: "R$"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>        
</div>

<!--Confirmação do pedido-->
<div class="new-order-right-bottom-div">
    <div class="panel panel-default" style="height: 100%; margin: 0; position: relative;">
        <div class="panel-heading text-center" style="box-shadow: none; background-color: lightslategray; height: 15%; color: white; font-weight: bold; padding: 1%;">Confirmação do Pedido</div>
        <div class="panel-body" style="box-shadow: none; margin: 0; overflow: no-display; padding: 2.5%; height: 85%; display: flex; justify-content: space-between; flex-direction: column; vertical-align: middle">

            <!--Total do Pedido-->      
            <div style="box-shadow: none; margin-bottom: 0">
                <table class="table" style="margin-bottom: 1%;">
                    <tr>
                        <td style="padding: 0.7%; font-weight: bold">Total Pedido</td>
                        <td style="padding: 0.7%; text-align: center">{{orderTotal | currency: "R$"}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 0.7%; color: red; font-weight: bold; vertical-align: middle">Desconto</td>
                        <td style="padding: 0.7%; text-align: center"><input type="text" maxlength="3" style="width: 3rem; text-align: center" ng-model="discount" ng-change="refreshTotals()"/> %</td>                        
                    </tr>
                    <tr>
                        <td style="padding: 0.7%; color: green; font-weight: bold; font-size: 1.5rem">Total c/ Desconto</td>
                        <td style="padding: 0.7%; text-align: center; font-size: 1.5rem; color: green; font-weight: bold">{{orderTotalWithDiscount | currency: "R$"}}</td>
                    </tr>
                </table>
            </div>

            <div style="box-shadow: none; margin-top: 1%;">
                <button class="btn btn-danger new-order-btn-cancel" ng-click="resetOrder()">Cancelar</button>
                <button class="btn btn-success new-order-btn-confirm" ng-click="showConfirmation()" ng-disabled="listOrderProducts.length == 0">Confirmar</button>
            </div>
        </div>
    </div>    
</div>

<div class="col-md-12" style="margin: 0.2% 0">
    <label class="col-md-2" style="margin: 0.8rem 0 0 0">Observações:</label><input type="text" class="col-md-10" style="margin: 0.5% 0 0 0; height: 2.3rem" ng-model="description"/>
</div>

<!--Resumo do pedido. Exibir quando clicar em confirmar-->
<div ng-show="showDivConfirmation" class="check-element animate-show" style="width: 100%; height:98%; position: absolute; z-index: 1; margin: 0; left: 0; top: 0; background-color: transparent; box-shadow: none; border: 0">
    <form novalidate name="formNewOrder" class="center-child-text" style="background-color: lightslategray; width: 90%; height: 95%; box-shadow: 0 0 1rem black; display: flex; flex-direction: column; justify-content: space-between; align-content: space-between; padding: 1rem">
        <!--Dados cliente-->
        <div style="box-shadow: none; display: flex; justify-content: space-between; margin-top: 0">
            <div style="box-shadow: none; width: 25%; margin-bottom: 0">
                <h4 style="color: white; margin-bottom: 0.2rem; margin-top: 0; display: inline-block">Telefone:</h4>
                <span style="color: yellow; font-weight: bold; vertical-align: middle" ng-show="formNewOrder.$submitted && (formNewOrder.phone.$error.required || !orderConfirmation.telefone)"> * </span>                
                <input name="phone" required ng-blur="loadCustomerByPhone(orderConfirmation.telefone)" ng-model="orderConfirmation.telefone" type="text" id="phone" maxlength="20" style="font-size: 1.7rem; width: 100%" ui-phone-br placeholder="(__) _____-____ "  ng-keypress="tabAsEnter($event)"/>
            </div>

            <div style="box-shadow: none; width: 70%; margin-bottom: 0">
                <h4 style="color: white; margin-bottom: 0.2rem; margin-top: 0; display: inline-block">Cliente:</h4>
                <span style="color: yellow; font-weight: bold; vertical-align: middle" ng-show="formNewOrder.$submitted && formNewOrder.cliente.$error.required"> * </span>                
                <input id="cliente" name="cliente" required ng-model="orderConfirmation.cliente" type="text" maxlength="100" style="font-size: 1.7rem; width: 100%" />                
            </div>
        </div>

        <!--Data Entrega-->
        <div style="box-shadow: none; display: flex; justify-content: space-between;">
            <div style="box-shadow: none; width: 25%; margin-bottom: 0">
                <h4 style="color: white; margin-bottom: 0.2rem; display: inline-block">Data de Entrega:</h4>
                <span style="color: yellow; font-weight: bold; vertical-align: middle" ng-show="formNewOrder.$submitted && (formNewOrder.dtEntrega.$error.required || !orderConfirmation.dtEntrega)"> * </span>                
                <input name="dtEntrega" required ng-change="setFocusHour(orderConfirmation.dtEntrega)" ng-model="orderConfirmation.dtEntrega" type="text" maxlength="100" style="font-size: 1.7rem; width: 100%" ui-date placeholder="__/__/____"/>                                
            </div>
            
            <div style="box-shadow: none; width: 35%; margin-bottom: 0">
                <h4 style="color: white; margin-bottom: 0.2rem; display: inline-block">Horário de Entrega:</h4>
                <span style="color: yellow; font-weight: bold; vertical-align: middle" ng-show="formNewOrder.$submitted && (formNewOrder.horaEntrega.$error.required || !orderConfirmation.tmEntrega)"> * </span>                
                <input name="horaEntrega" required ng-change="setFocusCEP(orderConfirmation.tmEntrega)" ng-model="orderConfirmation.tmEntrega" id="horaEntrega" type="text" maxlength="100" style="font-size: 1.7rem; width: 80%" ui-time placeholder="__:__"/>
            </div>            

            <div style="box-shadow: none; width: 30%; margin-bottom: 0; position: relative; display: inline-block">
                <div style="box-shadow: none; vertical-align: middle; margin-top: 1.7rem; position: absolute; width: 100%" class="center-child-text">
                    <input type="checkbox" ng-model="orderConfirmation.retiraNoLocal" id="retiraNoLocal" style="margin: auto; width: 2rem" />
                    <label for="retiraNoLocal" style="font-size: 2rem; color: white">Retira no Local</label>                    
                </div>
            </div>   
        </div>

        <!--Endereço Entrega P1-->
        <div style="box-shadow: none; display: flex; justify-content: space-between;">
            <div style="box-shadow: none; width: 20%; margin-bottom: 0">
                <h4 style="color: white; margin-bottom: 0.2rem; display: inline-block">CEP:</h4>
                <input id="cep" ng-model="orderConfirmation.address.cep" ui-mask="99999-999" ng-change="loadCEP()" type="text" maxlength="9" style="font-size: 1.7rem; width: 100%" />
            </div>

            <div style="box-shadow: none; width: 60%; margin-bottom: 0">
                <h4 style="color: white; margin-bottom: 0.2rem; display: inline-block">Endereço:</h4>
                <span style="color: yellow; font-weight: bold; vertical-align: middle" ng-show="formNewOrder.$submitted && !orderConfirmation.address.logradouro && !orderConfirmation.retiraNoLocal"> * </span>                
                <input name="endereco" id="endereco" ng-model="orderConfirmation.address.logradouro" type="text" maxlength="100" style="font-size: 1.7rem; width: 100%" />
            </div>

            <div style="box-shadow: none; width: 10%; margin-bottom: 0">
                <h4 style="color: white; margin-bottom: 0.2rem; display: inline-block">Nº:</h4>
                <span style="color: yellow; font-weight: bold; vertical-align: middle" ng-show="formNewOrder.$submitted && !orderConfirmation.address.numero && !orderConfirmation.retiraNoLocal"> * </span>
                <input name="numero" ng-model="orderConfirmation.address.numero" type="text" id="addressnumber" maxlength="100" style="font-size: 1.7rem; width: 100%" />
            </div>
        </div>

        <!--Endereço Entrega P2-->
        <div style="box-shadow: none; display: flex; justify-content: space-between;">
            <div style="box-shadow: none; width: 30%; margin-bottom: 0">
                <h4 style="color: white; margin-bottom: 0.2rem; display: inline-block">Bairro:</h4>
                <span style="color: yellow; font-weight: bold; vertical-align: middle" ng-show="formNewOrder.$submitted && !orderConfirmation.address.bairro && !orderConfirmation.retiraNoLocal"> * </span>
                <input name="bairro" id="bairro" ng-model="orderConfirmation.address.bairro" type="text" maxlength="100" style="font-size: 1.7rem; width: 100%" />
            </div>

            <div style="box-shadow: none; width: 20%; margin-bottom: 0">
                <h4 style="color: white; margin-bottom: 0.2rem; display: inline-block">Complemento:</h4>
                <input id="complemento" ng-model="orderConfirmation.address.complemento" type="text" maxlength="100" style="font-size: 1.7rem; width: 100%" />
            </div>

            <div style="box-shadow: none; width: 30%; margin-bottom: 0">
                <h4 style="color: white; margin-bottom: 0.2rem; display: inline-block">Cidade:</h4>
                <span style="color: yellow; font-weight: bold; vertical-align: middle" ng-show="formNewOrder.$submitted && !orderConfirmation.address.localidade && !orderConfirmation.retiraNoLocal"> * </span>
                <input name="cidade" id="cidade" ng-model="orderConfirmation.address.localidade" type="text" maxlength="100" style="font-size: 1.7rem; width: 100%" />
            </div>

            <div style="box-shadow: none; width: 10%; margin-bottom: 0">
                <h4 style="color: white; margin-bottom: 0.2rem; display: inline-block">UF:</h4>
                <span style="color: yellow; font-weight: bold; vertical-align: middle" ng-show="formNewOrder.$submitted && !orderConfirmation.address.uf && !orderConfirmation.retiraNoLocal"> * </span>
                <input name="uf" id="uf" ng-model="orderConfirmation.address.uf" type="text" maxlength="100" style="font-size: 1.7rem; width: 100%" />
            </div>
        </div>

        <!--Total do Pedido-->
        <div style="box-shadow: none; margin: 0; border-radius: 5px; border: none">
            <table class="table table-bordered" style="margin-bottom: 1%; background-color: white; border-radius: 5px">
                <tr>
                    <td style="padding: 0.3%; font-weight: bold">Total Pedido</td>
                    <td style="padding: 0.3%; text-align: center">{{orderTotal | currency: "R$"}}</td>
                </tr>
                <tr>
                    <td style="padding: 0.3%; color: red; font-weight: bold; vertical-align: middle">Desconto</td>
                    <td style="padding: 0.3%; text-align: center">{{discount}} %</td>
                </tr>
                <tr>
                    <td style="padding: 0.3%; color: green; font-weight: bold; font-size: 2rem">Total c/ Desconto</td>
                    <td style="padding: 0.3%; text-align: center; font-size: 2rem; color: green; font-weight: bold">{{orderTotalWithDiscount | currency: "R$"}}</td>
                </tr>
            </table>
        </div>

        <!--Botões cancelar/Finalizar-->
        <div style="box-shadow: none; margin: 0">
            <button class="btn btn-danger" style="width: 20rem" ng-click="showDivConfirmation = false">Fechar</button>
            <button type="submit" ng-click="saveNewOrder(orderConfirmation)" class="btn btn-success" style="width: 20rem; margin-left: 3rem;">Finalizar Pedido</button>
            <span class="msg-error" ng-show="msgErr.hidden">{{error}}</span>
        </div>                     
    </form>
</div>