<!--Título Principal-->
<h3 class="text-center content-title">Produtos</h3>

<!--Div principal do Cadastro de Produtos-->
<div class="product-main-div" ng-init="loadProducts()">
    <!--Primeira linha dos botões "Novo" e "Excluir"-->
    <div class="product-row product-first">
        <button class="btn btn-success product-button" ng-click="openNewProduct()">Novo</button>
        <button class="btn btn-danger product-button" ng-disabled="!anyProductIsSelected()">Excluir</button>
    </div>

    <!--Segunda linha da busca dos Produtos-->
    <div class="product-row product-second">
        <label class="product-label">Buscar:</label>
        <input type="text" ng-model="filterProduct" ng-model-options="{debounce: 500}" maxlength="100" class="form-control product-input-find" placeholder="Digite o filtro de busca do Produto"/>
    </div>

    <!--Terceira linha do Grid dos Produtos-->
    <div class="product-row product-third">
        <!--<div style="height: 250px" class="product-grid" ng-grid="gridOptions"></div>-->
        <div class="product-table-header">
            <div class="vertical-align-middle product-td" style="flex: 0.2"></div>
            <div class="vertical-align-middle product-td" style="flex: 1">Nome</div>
            <div class="vertical-align-middle product-td" style="flex: 1">Descrição</div>
            <div class="vertical-align-middle product-td text-center" style="flex: 1">Tipo</div>
            <div class="vertical-align-middle product-td text-center" style="flex: 1">Preço</div>
            <div class="vertical-align-middle product-td text-center" style="flex: 0.5">Unidade</div>            
        </div>
        <div class="product-table-body">
            <table class="table-striped" style="width: 100%;">
                <tbody>
                    <tr ng-repeat="product in products | filter: filterProduct"                         
                        ng-class="{'table-row-selected' : product.selected}"
                        style="display: flex; justify-content: space-between">
                        <td class="product-td text-center" style="flex: 0.2"><input type="checkbox" ng-model="product.selected" ng-change="selectProduct($index, products)" style="transform: scale(1.3);"></td>
                        <td class="product-td" style="flex: 1">{{product.name}}</td>
                        <td class="product-td" style="flex: 1">{{product.description}}</td>
                        <td class="product-td text-center" style="flex: 1">{{getProductType(product.productType)}}</td>
                        <td class="product-td text-center" style="flex: 1">{{product.price | currency: "R$"}}</td>
                        <td class="product-td text-center" style="flex: 0.5">{{getUnit(product.unit)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>