.reports-div-main {    
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 90%; 
    margin-bottom: 0;         
}

.reports-div-buttons {
    /*background-color: chartreuse;*/
    flex: 2;            
}

.reports-div-filters {
    /*background-color: red;*/
    flex: 4;
    display: flex;
    flex-direction: column;    
    align-content: space-between;
    border: 1px solid lightgray;
    padding: 1rem 1rem 0 1rem;
    margin-top: 1rem;
}

.reports-div-content {
    /*background-color: darksalmon;*/
    position: relative;
    flex: 8;  
    margin-bottom: 0;
}

.reports-result {
    background-color: powderblue;
    height: 50%;
    width: 70%;
    margin-top: 1%;
}